*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1320px;
    margin: 0 auto;
}
.tittle{
    text-align: center;
    margin: 50px 0;
}
.tittle h2{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #353535;
}
/* ====================================================
===================nav-part start======================
==================================================== */
nav{
    background: #000;
    height: 100px;
}
nav .main{
    display: flex;
}
nav .logo{
    width: 20%;
    display: flex;
    align-items: center;
}
nav .nav-items{
    width: 60%;
    display: flex;
    justify-content: end;
    align-items: center;
}
nav .nav-items li{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    display: inline-block;
    margin: 0 20px;
    color: #fff;
    position: relative;
    transition: .4s;
}
nav .nav-items li::after{
    width: 20px;
    height: 1px;
    background: #744fa0;
    position: absolute;
    bottom: -5px;
    left: 0;
    content: "";
    opacity: 0;
    transition: .4s;
}
nav .nav-button{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .nav-button a{
    padding: 10px 15px;
    background: #744fa0;
    border-radius: 5px;
    display: inline-block;
    color: #fff;
    transition: .4s;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
nav .nav-items li:hover{
    color: #744fa0;
}
nav .nav-items li:hover:after{
    opacity: 1;
}
nav .nav-button a:hover{
    background: #fff;
    color: #000;
}
/* ====================================================
===================nav-part end========================
==================================================== */

/* ====================================================
==================banner-part start====================
==================================================== */
#banner-part .banner{
    background: url(../images/banner1.jpg) no-repeat center;
    background-size: cover;
}
#banner-part .banner .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    text-align: right;
    color: #fff;
    padding: 200px 0;
}
#banner-part .banner .overlay h1{
    font-family: 'Raleway', sans-serif;
    font-size: 56px;
    font-weight: 700;
    color: #fff;
}
#banner-part .banner .overlay h1::first-letter{
    color: #744fa0;
}
#banner-part .banner .overlay h2{
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 300;
    color: #fff;
    position: relative;
}
#banner-part .banner .overlay h2::after{
    position: absolute;
    bottom: -25px;
    right: 0;
    width: 175px;
    height: 1px;
    background: #fff;
    content: "";
}
#banner-part .banner .overlay p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: right;
    color: #fff;
    width: 500px;
    margin: 50px 0;
    margin-left: auto;
}
#banner-part .banner .overlay a .slider-btn{
    width: 190px;
    height: 60px;
    background: #f1f1f1;
    padding: 10px 0;
    border-radius: 5px;
    float: right;
    margin-left: 10px;
    transition: .4s;
}
#banner-part .banner .overlay a .slider-btn i{
    float: left;
    width: 55px;
    height: 100%;
    font-size: 33px;
    color: #353535;
    text-align: center;
    transition: .4s;
}
#banner-part .banner .overlay a .slider-btn h4{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #353535;
    float: left;
    line-height: 1;
    transition: .4s;
}
#banner-part .banner .overlay a .slider-btn h4 span{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #353535;
    padding-bottom: 6px;
    display: block;
    margin-right: 20px;
    transition: .4s;
}
#banner-part .banner .overlay a .slider-btn1{
    width: 190px;
    height: 60px;
    background: #744fa0;
    padding: 10px 0;
    border-radius: 5px;
    float: right;
    margin-left: 10px;
    transition: .4s;
}
#banner-part .banner .overlay a .slider-btn1 i{
    float: left;
    width: 55px;
    height: 100%;
    font-size: 33px;
    color: #f1f1f1;
    text-align: center;
    transition: .4s;
}
#banner-part .banner .overlay a .slider-btn1 h4{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #f1f1f1;
    float: left;
    line-height: 1;
    transition: .4s;
}
#banner-part .banner .overlay a .slider-btn1 h4 span{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #f1f1f1;
    padding-bottom: 6px;
    display: block;
    margin-right: 20px;
    transition: .4s;
}
#banner-part .slick-dots{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
#banner-part .slick-dots li{
    margin: 10px 0;
}
#banner-part .slick-dots li button{
    font-size: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: transparent;
    position: relative;
}
#banner-part .slick-dots li button::after{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #744fa0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    content: "";
    opacity: 0;
}
#banner-part .slick-dots .slick-active button{
    border-color: #744fa0;
}
#banner-part .slick-dots .slick-active button::after{
    opacity: 1;
}
#banner-part .banner .overlay a .slider-btn1:hover{
    background: #f1f1f1;
}
#banner-part .banner .overlay a .slider-btn1:hover i{
    color: #353535;
}
#banner-part .banner .overlay a .slider-btn1:hover h4{
    color: #353535;
}
#banner-part .banner .overlay a .slider-btn1:hover h4 span{
    color: #353535;
}
#banner-part .banner .overlay a .slider-btn:hover{
    background: #744fa0;
    color: #f1f1f1;
}
#banner-part .banner .overlay a .slider-btn:hover i{
    color: #f1f1f1;
}
#banner-part .banner .overlay a .slider-btn:hover h4{
    color: #f1f1f1;
}
#banner-part .banner .overlay a .slider-btn:hover h4 span{
    color: #f1f1f1;
}
/* ====================================================
===================banner-part end=====================
==================================================== */

/* ====================================================
===================ABOUT-part start=====================
==================================================== */
#about-part{
    margin: 100px 0;
}
#about-part .main{
    display: flex;
    align-items: center;
}
#about-part .main .img{
    width: 50%;
    margin-right: 20px;
    text-align: right;
}
#about-part .main .text{
    width: 43%;
    text-align: center;
    margin-left: 60px;
}
#about-part .main .text .tittle h2{
    font-family: 'Raleway', sans-serif;
    font-weight:700;
    font-size: 24px;
    text-transform: uppercase;
    
}
#about-part .main .text p{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #777;
    margin: 50px 0;
}
/* ====================================================
===================ABOUT-part end=====================
==================================================== */

/* ====================================================
================feature-part start=====================
==================================================== */
#feature-part{
    background: #f1f1f1;
    padding: 50px 0;
}
#feature-part .jq-tab-menu {
    flex: 1.5;
}
#feature-part .jq-tab-title{
    position: relative;
    background: transparent;
    border: 0;
    margin: 46px 0;
}
#feature-part .jq-tab-title::after{
    width: 260px;
    height: 2px;
    background: #000;
    position: absolute;
    bottom: -23px;
    left: 0;
    content: "";
    transition: .4s;
}
#feature-part .jq-tab-menu i{
    font-size: 42px;
    position: absolute;
    top: 6px;
    left: 10px;
}
#feature-part .jq-tab-menu h3{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
}
#feature-part .jq-tab-menu p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #777;
}
#feature-part .jq-tab-menu .jq-tab-title {
	padding: 10px 20px;
	padding-left: 60px;
}    
#feature-part .jq-tab-menu .jq-tab-title:hover, .jq-tab-menu .jq-tab-title.active {
	border: 0;
}
#feature-part .jq-tab-content {
	padding: 1em 1.8em;
    margin-top: 45px;
}
#feature-part .main{
    display: flex;
}
#feature-part .main .text{
    text-align: right
}
#feature-part .main .text h3{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
}
#feature-part .main .text p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 20px 0;
}
#feature-part .active .main .text p{
    color: #777;
}
#feature-part .active .main .text h3{
    color: #000;
}
#feature-part .jq-tab-title:hover{
    color: #744fa0;
}
#feature-part .jq-tab-title:hover::after{
    width: 300px;
    background: #744fa0;
}
#feature-part .active{
    color: #744fa0;
}
#feature-part .active::after{
    width: 300px;
    background: #744fa0;
}
/* ====================================================
=================feature-part end======================
==================================================== */

/* ====================================================
===================screen-part start===================
==================================================== */
#screen-part{
    margin: 100px 0;
}
#screen-part .main .screen-slider img{
    margin: 0 15px;
}
#screen-part .main .screen-slider .slick-dots{
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}
#screen-part .main .screen-slider .slick-dots li{
    display: inline-block;
    margin: 0 15px;
}
#screen-part .main .screen-slider .slick-dots li button{
    font-size: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #000;
    background: transparent;
    position: relative;
}
#screen-part .main .screen-slider .slick-dots li button::after{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #744fa0;
    content: "";
    opacity: 0;
}
#screen-part .main .screen-slider .slick-dots .slick-active button{
    border-color: #744fa0;
}
#screen-part .main .screen-slider .slick-dots .slick-active button::after{
    opacity: 1;
}
/* ====================================================
===================screen-part end=====================
==================================================== */

/* ====================================================
===================video-part start====================
==================================================== */
#video-part{
    margin: 100px 0;
}
#video-part .item{
    background: url(../images/video_img.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
#video-part .item .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    padding: 200px 0;
    text-align: center;
}
#video-part .item .overlay a{
    font-size: 50px;
    color: #fff;
}
/* ====================================================
===================video-part end=====================
==================================================== */

/* ====================================================
=================pricing-part start====================
==================================================== */
#pricing-part{
    margin: 100px 0;
}
#pricing-part .main{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
#pricing-part .main .item{
    width: 23%;
    border-radius: 12px;
    transition: .4s;
}
#pricing-part .main .item h2{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #353535;
    text-align: center;
    background: #f1f1f1;
    padding: 10px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#pricing-part .main .item .middle{
    border: 1px solid #f1f1f1;
}
#pricing-part .main .item .middle .round{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
    margin: 40px auto;
    text-align: center;
}
#pricing-part .main .item .middle .round p{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #555;
}
#pricing-part .main .item .middle .round span{
    font-size: 50px;
}
#pricing-part .main .item ul{
    text-align: center;
    background: #f1f1f1;
    padding: 30px 0;
}
#pricing-part .main .item ul li{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 10px 0;
    color: #555555;
}
#pricing-part .main .item .button{
    background: #f1f1f1;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#pricing-part .main .item .button a{
    display: inline-block;
    text-align: center;
    border: 1px solid #000;
    color: #353535;
    padding: 10px 20px;
    transform: translateY(50%);
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
}
#pricing-part .main .item:hover h2{
    background: #744fa0;;
    color: #fff;
}
#pricing-part .main .item:hover a{
    background: #744fa0;;
    color: #fff;
    border: 1px solid #744fa0;
}
/* ====================================================
===================pricing-part end=====================
==================================================== */

/* ====================================================
===================team-part start=====================
==================================================== */
#team-part{
    margin: 200px 0;
}
#team-part .main{
    display: flex;
    justify-content: space-between;
    margin: 100px;
}
#team-part .main .item{
    width: 30%;
    position: relative;
    position: .4s;
}
#team-part .main .item .img{
    width: 100%;
    position: relative;
    top: 0;
    transition: .4s;
}
#team-part .main .item .img img{
    width: 100%;
    display: block;
    border-radius: 15px;
}
#team-part .main .item .img .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .4s;
    border-radius: 15px 15px 0 0;
    text-align: center;
}
#team-part .main .item .img .overlay a i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #f1f1f1;
    color: #000;
    text-align: center;
    line-height: 50px;
    margin: 150px 5px;
    transition: .4s;
    font-size: 20px;
}
#team-part .main .item .text{
    width: 99.5%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    text-align: center;
    transition: .4s;
    border: 1px solid #f1f1f1;
    padding: 25px 20px;
    border-radius: 15px;
    box-sizing: border-box;
}
#team-part .main .item .text p{
    margin: 10px 0;
}
#team-part .main .item .text h2{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px 0;
}
#team-part .main .item .text h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #999;
}
#team-part .main .item .text p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0;
}
#team-part .main .item:hover .text{
    top: 85%;
    border-radius: 0 0 15px 15px;
    
}
#team-part .main .item:hover .img .overlay{
    opacity: 1;
}
#team-part .main .item:hover .img{
    top: -50px;
}
#team-part .main .item .img .overlay a i:hover{
    background: #744fa0;
    color: #fff;
}
/* ====================================================
====================team-part end======================
==================================================== */

/* ====================================================
====================user-part start====================
==================================================== */
#user-part{
    margin: 100px 0;
}
#user-part .user-banner{
    background:url(../images/user.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;

}
#user-part .user-banner .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    padding: 50px 0;
}
#user-part .user-banner .overlay .top{
    width: 780px;
    background: #fff;
    margin: 0 auto;
    position: relative;
    border-radius: 15px;
}
#user-part .user-banner .overlay .top .user-slider .item{
    text-align: center;
}
#user-part .user-banner .overlay .top .user-slider .item p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #777;
    margin: 20px 0;
}
#user-part .user-banner .overlay .top .user-slider .item i{
    color: #744fa0;
}
#user-part .user-banner .overlay .top .user-slider .item h3{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #353535;
}
#user-part .user-banner .overlay .top .user-slider .item h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #353535;margin-bottom: 20px;
}
#user-part .user-banner .overlay .top .shape{
    width: 30px;
    height: 30px;
    background: #fff;
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translate(-50%,50%) rotate(45deg);
}
#user-part .user-banner .overlay .bottom{
    width: 480px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
#user-part .user-banner .overlay .bottom .bottom-slider{
    display: flex;
    justify-content: space-between;
}
#user-part .user-banner .overlay .bottom .round{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    border: 2px solid transparent;
    transform: scale(1);
    transition: .4s;
    margin: 20px auto;
}
#user-part .user-banner .overlay .bottom .round .round-overlay{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    left: 0;
    transition: .4s;

}
#user-part .user-banner .overlay .bottom .round img{
    border-radius: 50%;
    
}
#user-part .user-banner .overlay .bottom .slick-center .round .round-overlay{
    opacity: 0;
}
#user-part .user-banner .overlay .bottom .slick-center .round{
    border-color: #744fa0;
    transform:scale(1.4) ;
}
#user-part .user-banner .overlay .bottom .bottom-slider .slick-dots{
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    
}
#user-part .user-banner .overlay .bottom .bottom-slider .slick-dots li{
    margin: 0 10px;
    display: inline-block;
}
#user-part .user-banner .overlay .bottom .bottom-slider .slick-dots li button{
    font-size: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: transparent;
    position: relative;
}
#user-part .user-banner .overlay .bottom .bottom-slider .slick-dots li button::after{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #744fa0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    content: "";
    opacity: 0;
}
#user-part .user-banner .overlay .bottom .bottom-slider .slick-dots .slick-active button{
    border-color: #744fa0;
}
#user-part .user-banner .overlay .bottom .bottom-slider .slick-dots .slick-active button::after{
    opacity: 1;
}
/* ====================================================
====================user-part end======================
==================================================== */

/* ====================================================
==================footer-part start====================
==================================================== */
footer{
    background: #333;
    /* text-align: center; */
    padding: 50px 0;
}
footer .btn{
    text-align: right;
    margin-right: 20px;
}
footer .btn i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    border: 2px solid #744fa0;
    background: #744fa0;
    color: #fff;
    transition: .4s;
}
footer .logo{
    margin-bottom: 20px;
    text-align: center;
}
footer .icon{
    text-align: center;
}
footer .icon a i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #f1f1f1;
    color: #000;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    margin: 20px 5px;
    transition: .4s;
}
footer .copyright p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #f1f1f1;
    margin: 10px 0;
    text-align: center;
}
footer .copyright p span{
    color: #744fa0;
}
footer .icon a i:hover{
    background: #744fa0;
    color: #f1f1f1;
}
footer .btn i:hover{
    background: #f1f1f1;
    color: #744fa0;
}
/* ====================================================
==================footer-part end======================
==================================================== */
